{{- if .Site.Menus.main }}
<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item">
      <a class="menu__link" href="/">Home</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/about">About</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/categories/devops/">DevOps</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/categories/development/">Development</a>
    </li>
  </ul>
</nav>
{{ else -}}
<div class="divider"></div>
{{- end }}
